body {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cartas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.carta {
  background-color: cornflowerblue;
  height: 200px;
  width: 200px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#imagen-1,
#imagen-2 {
  max-width: 100%;
  max-height: 100%;
}
