body {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.cartas-container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 20px;
}

.carta {
  width: 150px;
  height: 150px;
  background-color: rgb(225, 139, 194);
  border-radius: 10%;
}
