@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  background-color: beige;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.introduccion {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}

.cartas-container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 20px;
  max-width: 800px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Margen automático para centrar horizontalmente */
  justify-content: center;
}

.divCarta {
  width: 150px;
  height: 150px;
  background-color: rgb(225, 139, 194);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen {
  max-width: 100%;
  max-height: 100%;
}

button {
  background-color: rgb(153, 80, 255);
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: rgb(177, 127, 247);
}

.divCarta:hover {
  background-color: rgb(177, 127, 247);
}
